
<h1>FAMILIYA</h1>

@using (Html.BeginForm("PostMethod", "Home", FormMethod.Post))
            {
                <h1>Familiya: @Html.TextBox("name")</h1>
                <input type="submit" value="GO" />
               
            }